
@using Hotel.Web.Areas.Identity.Pages.Account.Manage
@using Hotel.Data.Models
@using Hotel.Common
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul id="profileSettingsButtons" class="flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профил</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Имейл</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Парола</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Двуфакторна автентикация</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Лични данни</a></li>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="AllRoomReservations">Резервации за стая</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="AllRestaurantReservations">Резервации за ресторант</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="AllConferenceHallReservations">Резервации за конферентна зала</a></li>
    }
    else
    {
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Room" asp-action="Reservations">Резервации за стаи</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="ConferenceHall" asp-action="Reservations">Резервации за конферентна зала</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Restaurant" asp-action="Reservations">Резервации за ресторант</a></li>
    }

</ul>
